.container {
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 98.7vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e9ed;
}
.content {
  height: auto;
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
