.pokemonCard {
  height: 300px;
  width: 270px;
  display: flex;
  padding: 15px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pokemonCard__content {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pokemonCard__name {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pokemonCard__name::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.pokemonCard__name p {
  font-family: Raleway;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}
.pokemonCard__List__label {
  height: 15%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.pokemonCard__label {
  height: 100%;
  width: 30%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonCard__label p {
  color: #7e34dd;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
}
.pokemonCard__image {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonCard__image > img {
  max-height: 100%;
  object-fit: contain;
}
