.container {
  height: 8vh;
  width: 100%;
  display: grid;
  position: fixed;
  background-color: #e6e9ed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  grid-template-columns: 10% 20% 10% 50% 10%;
  grid-template-rows: 100%;
}
.item {
  border-left: 1px solid rgb(209 209 209);
  display: flex;
  color: rgb(126, 52, 221);
  justify-content: center;
  align-items: center;
}
.home {
  cursor: pointer;
}
.favorites {
  cursor: pointer;
}
.logo img {
  height: 80%;
  object-fit: contain;
}
